<%- include('partials/header') -%>
    <h1>post section</h1>
    <div class="note_section">
        <h1>results are</h1>
        <h2>
            <%= res.title %>
        </h2>
        <p>
            <%= res.note%>
        </p>
    </div>
    <%- include('partials/footer') -%>